@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%231e0103' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%233c0205' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%235b0208' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%2379030a' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%2397040D' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}